/lclPyProject/venv/
/lclPyProject/docs/
/lclPyProject/lclPyProject/
/lclrust/target/
lclrust/target/debug/
lclPy/.env/pyvenv.cfg
lclPy/.env/Scripts/activate
lclPy/.env/Scripts/activate.bat
lclPy/.env/Scripts/Activate.ps1
lclPy/.env/Scripts/deactivate.bat
lclPy/.env/Scripts/maturin.exe
lclPy/.env/Scripts/pip.exe
lclPy/.env/Scripts/pip3.12.exe
lclPy/.env/Scripts/pip3.exe
lclPy/.env/Scripts/python.exe
lclPy/.env/Scripts/pythonw.exe
lclPy/.github/workflows/CI.yml
